* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 30px;
  width: 50px;
}

.fleximg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px 0;
}
